*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.json
*.json
app/schemas/org.fundacionparaguaya.advisorapp.data.local.LocalDatabase/1.json
app/release
*.orig
